.git
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.db
.DS_Store
.env
a.env
.env.dms
.env.example
config/config.json
data/*.json
logs/*.log
temp/
tmp/
node_modules/
package-lock.json
*.md
LICENSE
.gitignore
Dockerfile
docker-compose.*
scripts/
tests/
