# Copy this file to .env and fill in your credentials
PCO_PAT=
PCO_APP_ID=
QB_CLIENT_ID=
QB_CLIENT_SECRET=
QB_REFRESH_TOKEN=
QB_REALM_ID=
SYNC_SCHEDULE=0 0 3 * * 1
DONATION_SYNC_SCHEDULE=
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_SENDER_EMAIL=
SMTP_PASSWORD=
SMTP_RECIPIENT_EMAIL=
